/* fixing header at top of page */
header {
  z-index: 999;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
}
/* setup for color and margin of main container */
#container{
    margin: 0px;
    padding-top:1vh ;
    height: 10vh;
    background-color: rgba(51, 52, 53, 0.85);
    display: flex;
    flex-direction: row;
}
#logo{
    width: 8%;
}
#logo img{
    height: 45px;
    size:cover;
    position:center;
}
#description{
    width: 40%;
    text-align: center;
}

#search .search-container {
    float: right;
    margin-left: auto;
  }
  
  #search .search-container form input[type=text] {
    border: 1px solid darkturquoise; 
    padding: 6px;
    margin-top: 8px;
    font-size: 17px;
    border: none;
  }
  
  #search .search-container button {
    float: right;
    padding: 6px 10px;
    margin-top: 8px;
    margin-right: 16px;
    background: #ddd;
    font-size: 17px;
    border: none;
    cursor: pointer;
  }
  #notification{
      align-items: center;
  }
/* icon size and position setup */
  .fa-stack { font-size: 1.5em; 
}
  i { vertical-align: middle; }

  .fa-stack[data-count]:after{
    position:absolute;
    right:0%;
    top:1%;
    content: attr(data-count);
    font-size:30%;
    padding:.6em;
    border-radius:999px;
    line-height:.75em;
    color: white;
    background:rgba(255,0,0,.85);
    text-align:center;
    min-width:2em;
    font-weight:bold;
  }
  #profile-img{
    margin-left: auto;
      width: 10%;
      text-align: center;
  }
  #profile-img img{
    /* height: 8vh; */
    width: 45px;
    height: 45px;
    size:cover;
    position:center;
    border-radius:50%;
    font-size: 1.5em;
  }
  
  
  