/* import for styling css page */
@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700");
/* veriable defined in root */
:root {
  --color: #faa700;
  --color-light: #f5ede1;
  --dark: #a7a7a7;
  --dark: #8a8a8a;
  --darker: #c2b757;
  --sans-serif: 'Roboto', sans-serif;
}

body {
  font-family: var(--sans-serif);
  background: #cfacac;
}

body {
  background: #0a1a24;
}

main{
  display: inline-block;
  width:70%;
  margin-top: 5vh;
  margin-left: 14vh;
  color: white;
  position: relative;
}
 h3{
  margin-top: 15vh;
  color: aqua;
}

.song-img{
  display: flex;
  flex-direction: row; 
   position: -webkit-sticky; 
  position: sticky;
}
.song-img img{
  height: 30vh;
  width: 30%;
  transition: transform .2s;
  margin: 0 auto;
 
}
.mood{
  margin-top: 4vh;
  display: flex;
  flex-direction: row; 
  width: 100%;
  height: 20vh;
}
.song-img img:hover{
    transform: scale(1.5); 
}

.popular-album ,.hindi-songs ,.english-songs{
  margin-top: 4vh;
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 15vh;
}
.img-with-text {
  margin-right: 2vh;
  text-align: center;
  width: 18%;
}

.img-with-text img {
  display: inline-block;
  margin: 0 auto;
  width:100%;
  
}

.popular-album .img-with-text img{
  border-radius: 50%;
}

.img-with-text img:hover{
  transform: scale(1.2); 
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.container-img img{
  height: 30vh;
  width: 100%;
  margin: 0 auto;
}
.container-img {
  position: relative;
  text-align: center;
  color: white;
  width: 30%;
  margin-left: 1%;
}
/* aside setup for music collection */
aside{
  display: inline-block;
  width: 21%;
  color: white;
  text-align: center;
  vertical-align: top;
  position: relative;
}

.aside-container{
  display: inline-block;
  
}

.aside-container h3{
  display: inline-block;
  text-align: left;
  margin-top: 1vh;
}
.queue{
  display: inline-block;
  text-align: right;
  margin-top: 1vh;
}

ol {
  list-style-type: none;
  padding: 20px 36px;
  font-weight: 500;
}
ol li {
  counter-increment: number;
  display: -webkit-box;
  display: flex;
  flex-wrap: initial;
  -webkit-box-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
          align-items: center;
  align-content: initial;
  height: 45px;
  color: var(--dark);
}
ol li span:not(:last-child) {
  margin-right: 2em;
}
@media (max-width: 700px) {
  ol li span:not(:last-child) {
    margin-right: 1em;
  }
}
ol li span:first-child {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  color: var(--darker);
}
ol li span:first-child:before {
  content: counter(number);
  margin-right: 2em;
  color: var(--dark);
  display: inline-block;
  text-align: end;
  width: 20px;
}
